<header-component
  title="Projetos"
  subtitle="Organize e gerencie seus projetos"
  iconPath="icons/bag-icon.svg"
  iconAlt="bag-icon"
>
  <div class="header-buttons-container">
    <a class="btn" routerLink="/projects/new">Criar projeto</a>
    <a class="btn secondary" routerLink="nav.routeBack()">Voltar</a>
  </div>
</header-component>

<section *ngIf="loading; else content">
  <app-skeleton></app-skeleton>
</section>

<ng-template #content>
  <section *ngIf="!loading && errorMessage" class="error">
    {{ errorMessage }}
  </section>

  <section *ngIf="!loading && projects.length === 0">
    <empty-component title="Nenhum projeto encontrado"></empty-component>
  </section>

  <ul class="list" *ngIf="canShowContent() && projects.length > 0">
    <li *ngFor="let p of projects; let i = index" [ngClass]="{ variant: i % 2 !== 0 }">
      <span *ngIf="p.id">
        <project-card
          [id]="p.id"
          [name]="p.name"
          [description]="p.description"
          [ownerName]="p.owner?.name || ''"
          [ownerEmail]="p.owner?.email || ''"
          [ownerImage]="p.owner?.profilePictureUrl || ''"
          [tasks]="p.tasks || []"
          [isVariant]="i % 2 !== 0"
          (confirmAction)="deleteProject($event)"
        >
        </project-card>
      </span>
    </li>
  </ul>
</ng-template>
