<div class="card" [ngClass]="{ variant: isVariant() }">
  <div class="close-button">
    <button aria-label="Fechar" (click)="showConfirmModal = true">
      <lucide-icon [img]="XIcon" [size]="20"></lucide-icon>
    </button>
  </div>

  <div class="profile-information-container">
    <img class="avatar" [src]="image()" [alt]="name()" />

    <span>
      <h2>{{ name() }}</h2>
      <p>{{ email() }}</p>
      <h5 class="project-count">Contagem de projetos: {{ projectsCount() }}</h5>
    </span>
  </div>
</div>

<confirm-modal
  *ngIf="showConfirmModal"
  label="Tem certeza que deseja excluir este usuário? Os projetos e tarefas relacionados a ele serão excluídos "
  (confirm)="confirmDelete()"
  (cancel)="closeModal()"
></confirm-modal>
