.card {
  border: 1px solid var(--color-neutral);
  background-color: var(--color-neutral);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  position: relative;
  .close-button {
    right: 0.5rem;
    position: absolute;

    button{
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
}

.card.variant {
  border: 1px solid var(--color-light);
  background-color: var(--color-light);
}

.card h2 {
  margin-top: 0;
}
