<div class="card" [ngClass]="{ variant: isVariant() }">
  <div class="close-button">
    <button aria-label="Fechar" (click)="showConfirmModal = true">
      <lucide-icon [img]="XIcon" [size]="20"></lucide-icon>
    </button>
  </div>
  <h2>{{ name() }}</h2>
  <p>{{ description() || 'Sem descrição' }}</p>
  <div class="owner-section">
    <img class="avatar" [src]="ownerImage() || avatarDefaultPath" [alt]="ownerName()" />
    <small *ngIf="ownerName()">Dono: {{ ownerName() }} - ({{ ownerEmail() }}) </small>
  </div>
  <div class="projects-section">
    <h5>
      {{ getTaskLabel() }}
    </h5>
    <button
      type="button"
      class="btn"
      (click)="showSlotViewModal = true"
      [disabled]="!!!tasks().length"
    >
      Ver todas
    </button>
  </div>
</div>

<slot-view-modal
  *ngIf="showSlotViewModal"
  title="Tarefas"
  label="Estas são as tarefas atreladas ao projeto"
  (cancel)="showSlotViewModal = false"
>
  <div *ngFor="let t of tasks(); let i = index">
    <task-list-item
      [id]="t.id"
      [title]="t.title"
      [status]="t.status"
      [color]="t.color"
      [assignee]="t.assignee ? t.assignee : null"
      ></task-list-item>
  </div>
</slot-view-modal>

<confirm-modal
  *ngIf="showConfirmModal"
  label="Tem certeza que deseja excluir este projeto?"
  (confirm)="confirmDelete()"
  (cancel)="showConfirmModal = false"
></confirm-modal>
