<header-component
  title="Criar Projeto"
  subtitle="Crie e organize seus projetos"
  iconPath="icons/telescope-icon.svg"
  iconAlt="bag-icon"
>
  <div class="header-buttons-container">
    <a class="btn" routerLink="/projects">Meus projetos</a>
    <button class="btn secondary" (click)="nav.routeBack()">Voltar</button>
  </div>
</header-component>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    Nome
    <input type="text" formControlName="name" placeholder="Ex: Projeto Portfólio" />
  </label>

  <label>
    Descrição (opcional)
    <textarea
      rows="4"
      formControlName="description"
      placeholder="Do que se trata esse projeto?"
    ></textarea>
  </label>

  <app-user-select
    formControlName="ownerId"
    [label]="'Owner'"
    [placeholder]="loadingUsers ? 'Carregando usuários...' : 'Selecione um responsável'"
    [options]="users"
    [disabled]="loadingUsers || submitting"
  ></app-user-select>

  <div class="actions">
    <button class="btn" type="submit" [disabled]="form.invalid || submitting">
      {{ submitting ? 'Criando...' : 'Criar' }}
    </button>
    <button
      class="btn secondary"
      type="button"
      (click)="nav.goToRoute('/projects')"
      [disabled]="submitting"
    >
      Cancelar
    </button>
  </div>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</form>
