<header-component
  title="Usuários"
  subtitle="Organize e gerencie seus usuários"
  iconPath="icons/manage-users.svg"
  iconAlt="manage-users-icon"
>
  <div class="header-buttons-container">
    <a class="btn" routerLink="/users/new">Criar usuário</a>
    <a class="btn secondary" routerLink="nav.routeBack()">Voltar</a>
  </div>
</header-component>

<section *ngIf="loading; else content">
  <app-skeleton></app-skeleton>
</section>

<ng-template #content>
  <section *ngIf="!loading && errorMessage" class="error">
    {{ errorMessage }}
  </section>

  <section *ngIf="!loading && users.length === 0">
    <empty-component title="Nenhum usuário encontrado"></empty-component>
  </section>

  <ul class="list" *ngIf="canShowContent() && users.length > 0">
    <li *ngFor="let u of users; let i = index">
      <span *ngIf="u.id">
        <user-card
          [id]="u.id"
          [name]="u.name"
          [email]="u.email"
          [isVariant]="i % 2 !== 0"
          [image]="u?.profilePictureUrl || avatarDefaultPath"
          [projectsCount]="u?.projectCount"
          (confirmAction)="deleteUser($event)"
        ></user-card>
      </span>
    </li>
  </ul>
</ng-template>
